$primary: #FFAC3A;
$background: #fff;
$fontFamily: "Montserrat, sans-serif";
$tagFont: #FC8000;
$inputRange: #FC8000;
$mercadoLivreBlue: #2D3277;
$mercadoLivreYellow: #FFF159;
$buttonDefault: #7D8487;
$backgroundPrimary: transparent linear-gradient(147deg, #FC8000 0%, #FD9600 100%) 0% 0% no-repeat padding-box;
$danger: #F34E4E;

// colors

$colorprimary: #00C8FC;
$colorsecondary: #4A2BE8;
$colorinfo: #17a2b8;
$colorwarning: #ffc107;
$colordanger: #dc3545;
$colorlight: #f8f9fa;